<div class="flex-col min-h-screen p-4 items-center flex">

    <h2 class="main-title text-4xl font-semibold text-blue-500 mb-6">Painel To-Do</h2>

    <div class="flex flex-wrap items-end gap-4 mb-4">
        <input 
            pInputText 
            id="in_label" 
            [(ngModel)]="filtroNome" 
            autocomplete="off" 
            placeholder="Filtrar por Nome" 
            class="filter-input w-full sm:w-auto h-12 sm:h-12"
        />
        <p-select 
            [options]="prioridade" 
            [(ngModel)]="filtroPrioridade" 
            optionLabel="nome" 
            optionValue="valor"
            placeholder="Filtro por Prioridade" 
            class="filter-select w-full sm:w-52 sm:h-12 h-12"
        />
        <p-select 
            [options]="situacao" 
            [(ngModel)]="filtroSituacao" 
            optionValue="valor"
            optionLabel="nome" 
            placeholder="Filtro por Situação" 
            class="filter-select w-full sm:w-52 sm:h-12 h-12"

        />
            <p-button 
            pButton 
            label="Filtrar" 
            icon="pi pi-search" 
            class="h-10 px-4 py-2 text-sm"
            iconPos="left"
            (click)="aplicarFiltros()"
        ></p-button>
            <p-button 
            pButton 
            label="Nova Tarefa" 
            icon="pi pi-plus" 
            class="h-10 px-4 py-2 text-sm "
            iconPos="left"
            (click)="novaTarefa()"
        ></p-button>
    </div>
<p-table class="w-full" [value]="tarefas" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="carregarTarefas($event)">

        <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="nome">Nome <p-sortIcon field="nome" /></th>
        <th pSortableColumn="prioridade">Prioridade <p-sortIcon field="prioridade" /></th>
        <th pSortableColumn="situacao">Situação <p-sortIcon field="situacao" /></th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tarefa>
      <tr>
        <td>{{ tarefa.nome }}</td>
        <td> 
            <p-badge [value]="tarefa.prioridade" [severity]="prioridadeSeverity(tarefa)" />
        </td>
        <td>{{ tarefa.situacao }}</td>
        <td>
            <div class="flex space-x-2">

                <button pButton icon="pi pi-pencil" label="Editar" (click)="editarTarefa(tarefa.id)"></button>
                <button *ngIf="tarefa.situacao === 'ABERTA' || tarefa.situacao === 'PENDENTE'" pButton icon="pi pi-check" label="Concluir" (click)="concluirTarefa(tarefa.id)"></button>
                <button *ngIf="tarefa.situacao === 'CONCLUIDA'" pButton icon="pi pi-exclamation-triangle" label="Pendente" (click)="pendenteTarefa(tarefa.id)"></button>
            </div>
          
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
